<%= form_for @search, html: { class:"pure-form" } do |xx| %>

  <label for="cost1">keywords</label>
  <div> <%= xx.text_field :keywords  %></div>



  <a class="btn btn-primary m-1"  role="button"><%= xx.submit  %></a>





  </div>




<% end %>